# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output
coverage.json

# Build artifacts
artifacts
out
cache
dist

# Dependency directories
node_modules/
jspm_packages/
bower_components

# Package caches
.npm
.yarn-integrity

# TypeScript
*.tsbuildinfo

# ESLint/Stylelint cache
.eslintcache
.stylelintcache

# REPL history
.node_repl_history

# npm pack output
*.tgz

# dotenv
.env
.env.*
!.env.example

# Parcel/Snowpack/Vite/etc caches
.cache
.parcel-cache
web_modules/
.svelte-kit/
.vitepress/cache
.vitepress/dist
.temp
.docusaurus

# Next/Nuxt/Gatsby/Vuepress outputs
.next
.nuxt
.vuepress/dist
.cache/
.temp

# Vite log timestamps
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Binary addons
build/Release

# Lock/waf
.lock-wscript

# Serverless/Firebase/DynamoDB
.serverless/
.firebase/
.dynamodb/

# VSCode test
.vscode-test

# Yarn v3 PnP
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Misc
lib-cov
web_modules/
.DS_Store
signals-v0/

# Typechain
typechain-types

complete_codebase-v1.md
complete_codebase-v0.md
plan.md
scripts/generate_codebase.sh
test/fixtures/clmsrFixtures.json
whitepaper.pdf
